body{
    padding-left: 5%;
    padding-right: 5%;
}
.manrope {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
  }
  
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    gap: 0px;
}
.logo {
    width: 173px;
    height: 151px;
    top: 30px;
    left: 74px;
    gap: 0px;
    opacity: 0px;

}
nav {
    display: flex;
    gap: 40px;
    padding: 20px;
}
nav a {
    text-decoration: none;
    color: #1A1A1A;
    font-weight: 500;
}
.enquire-btn {
    padding: 10px 20px;
    background-color: #1EB36D;
    color: #fff;
    border: none;
    border-radius: 20px;
    text-decoration: none;
}
.hero {
    width: 1500px;
    height: 830px;
    border-radius: 41.09px 41.09px 41.09px 41.09px;
    opacity: 0px;     
    background-color: #1A1A1A;
    color: #fff;
    display : flex;
    flex-direction : row;
    align-items: center;
  
}
.hero-text {
    width: 762.2px;
    height: 539.91px;
    top: 253px;
    left: 162.16px;
    gap: 0px;
    border-radius: 41.09px 0px 0px 0px;
    opacity: 0px;   
    text-align: center; 
}
.hero-text h1 {
    font-size: 56.5px;
    line-height: 80.12px;
    text-align: left; 
    width: 817px;  
    padding-left: 100px; 
}
#advAgency{
    font-size: 56.5px;
    font-weight: 800;
    line-height: 80.12px;
    text-align: left;
    color: #1EB36D;
}
.hero-para {
    font-size: 15.41px;
    font-weight: 400;
    line-height: 26.71px;
    text-align: left;
    padding-left: 95px;    
    width:460px;
}
#happyClients{
    width: 580.64px;
    height: 49px;
    top: 544.73px;
    left: 162.16px;
    gap: 0px;
    opacity: 0px;
    font-family: Manrope;
    font-size: 17.46px;
    font-weight: 600;
    line-height: 23.85px;
    text-align: left;

}
#two{
    font-size: 35.95px;
    font-weight: 600;
    line-height: 49.11px;
    text-align: left;

}
.hero-image img {
    width: 1050px;
    height: 830px;
    gap: 0px;
    opacity: 0px;  
    object-fit: fill;  
    border-radius: 0px 41.09px 41.09px 0px;
    padding-right: 0%;
    padding-left: 180px;
}
#Indoor{
    position: relative;
    text-align: center;
    color: rgba(0, 0, 0, 0.67);;

}
#Indoor img{
  filter: brightness(0.5);
}

#txtBanner{
    position: absolute;
    top: 48%;
    left: 50%;
    right: -7%;
    transform: translate(-50%, -50%);
    font-family: Manrope;
    font-size: 60px;
    font-weight: 800;
    line-height: 80.12px;
    text-align: center;
    color: #FFFFFF;    
  }
#bannerbutn{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#who{
    font-family: Manrope;
    font-size: 18px;
    font-weight: 600;
    line-height: 24.59px;
    text-align: left;
    padding-left: 880px;

}
#descWho{
    font-family: Manrope;
    font-size: 40px;
    font-weight: 700;
    line-height: 55px;
    text-align: left;
    color: #000000;
    width: 406px;
    height: 110px;
    top: 2540px;
    left: 920px;
    gap: 0px;
    opacity: 0px;
    padding-left: 880px;
}
#whobtn{
top: 2572px;
left: 1479px;
padding: 15.41px 22.6px 15.41px 22.6px;
gap: 10.27px;
}
.misvission{
    position: relative;
    width: 577px;
    height: 541px;
    background: #0E1E2A;
    margin: 50px auto;
}
.mission-container,
        .vision-container {
            position: relative;
            width: 577px;
            height: 541px;
            background: #0E1E2A;
        }
.ellipse{
position: absolute;
width: 200px; 
height: 200px;
background: (circle,105.04deg, #2A73DA 9.7%, #019AB0 43.62%, #01B26C 90.31%);
border-radius: 50%;

}
.vector{
left: 19.78%;
right: 79.22%;
top: 45.47%;
bottom: 54.27%;
color: #FFFFFF;
}